---
import BaseHead from "../components/BaseHead.astro";
let title = "Web Mesh - ";
let description =
  "Hello 👋, I am a programmer, web-developer and web-designer from Czech republic.";
let permalink = "https://web.mesh.sk";
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
    <script
      src="https://kit.fontawesome.com/0611ddbb9f.js"
      crossorigin="anonymous"
    >

    </script>
  </head>

  <body> Děkujume</body>
</html>
