---
import BaseHead from "../components/BaseHead.astro";
let title = "QWERTY - ";
let description =
  "Hello 游녦, I am a programmer, web-developer and web-designer from Czech republic.";
let permalink = "https://web.mesh.sk";
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
    <style>
      main {
        background-image: linear-gradient(
            135deg,
            #040b25 10%,
            rgba(4, 11, 37, 0.85) 100%
          ),
          url("/assets/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style>
  </head>
  <body>
    <main class="grid place-items-center h-screen p-4">
      <span>
        <h1 class="sm:text-8xl text-6xl font-display text-white mb-8 ">
          D캩kujeme za va코칤 d콢v캩ru
        </h1>
        <p class="text-white my-4">Pokus칤me se v치m co nejd콏칤ve odpov캩d캩t</p>
        <a
          href="/"
          class="bg-gray-100 text-white p-2 hover:bg-opacity-20 duration-300 rounded-lg bg-clip-padding backdrop-filter
        backdrop-blur-md bg-opacity-10 shadow-lg hover:shadow-xl w-full lg:w-auto my-2"
          style="border: 1px solid rgba(255, 255, 255, .2);"
          >Vr치tit se zp치tky
        </a>
      </span>
    </main>
  </body>
</html>
