---
  import SectionHeading from "./SectionHeading.astro";
  import Item from "./Item.astro";
---


<section class="section p-32" id="about" data-aos="fade-up" data-aos-delay="200">
  <SectionHeading  data-aos-delay="200">Co nabízíme</SectionHeading>
  <div class="grid lg:grid-cols-4 grid-cols-2 gap-8">
    <Item title="Webové stránky" icon="language">Webové stranky jsou naše specialita. Tvorbě webových stránek se věnujeme už řadu let. A za tu dobu jsme se toho dost naučili. K tvorbě vždy využíváme nejmodernější technologie.</Item>
    <Item title="E-shopy" icon="storefront">E-shopy jsou nejideálnější způsob jak rozšířit vaší firmu. Nabízíme jak tvorbu zcela nových eshopů</Item>
    <Item title="SEO Optimalizace" icon="query_stats">SEO je základem každé dobré stránky. A dokáže pomoct vaší firmě ve zviditelnění. SEO už se nějakou dobu věnujeme a dokonce jsme vytvořili <a href="https://www.npmjs.com/package/astro-og-image" class="text-zinc-300 hover:underline">nástroj pro SEO optimalizaci</a>, který využívá přes 200 lidí.</Item>
    <Item>SEO optimalizace</Item>
    <Item>Mnohostránkové stránky</Item>
    <Item>Eshopy</Item>
    <Item>SEO optimalizace</Item>
  </div>
</section>