---
  import SectionHeading from "./SectionHeading.astro";
  import Item from "./Item.astro";
  import {Language} from "../types"
  const { text, title} = Astro.props as Language["about"]
---


<section class="mb-32" id="about" data-aos="fade-up" data-aos-delay="200">
  <SectionHeading  data-aos-delay="200">O nás</SectionHeading>
  <div class="lg:flex gap-8 text-lg text-zinc-600 w-full">
    <span class="lg:w-7/12">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque porro, ex sapiente incidunt officiis exercitationem laboriosam aspernatur inventore blanditiis itaque natus beatae, aut unde. Alias similique porro aut qui molestiae.
    </span>
    <span class="flex gap-16 lg:w-5/12">
      <ul>
        <Item>Jednostránkové stránky</Item>
        <Item>Mnohostránkové stránky</Item>
        <Item>Eshopy</Item>
        <Item>SEO optimalizace</Item>
        <Item>Správa webhostingu a domén</Item>
      </ul>
      <ul>
        <Item>Umístění do vyhledávačů</Item>
        <Item>Google my bussines</Item>
        <Item>Firmycz</Item>
        <Item>Zabezpečení stránky</Item>
        <Item>Grafika</Item>
      </ul>
    </span>
  </div>
</section>