---
import SectionHeading from "./SectionHeading.astro";
---

<footer
  class="bg-gray-100 rounded-md bg-clip-padding backdrop-filter
backdrop-blur-md bg-opacity-10 text-white w-full lg:flex p-8"
  id="footer"
>
  <span class="flex-1">
    <h2 class="flex text-5xl text-white font-display mb-4">Web Mesh</h2>
    <p>Vytvořeno s ❤️ v Lounech</p>
    <br />
    <div class="lg:flex">
      <p>
        K vytvoření stránky jsme použili <a href="https://astro.build"
          >Astro
        </a>, <a href="https://tailwindcss.com">TailwindCSS</a>, <a
          href="https://greensock.com/gsap/"
          >GSAP
        </a> a <a href="https://alvarotrigo.com/fullPage/">FullpageJS</a>
        <a href="https://www.gnu.org/licenses/gpl-3.0.en.html"
          >(licencováno pod GPL 3)
        </a>
      </p>
      <div class="flex-grow"></div>
      <p>
        &copy;Web-mesh {new Date().getFullYear()}
        <a href="https://www.gnu.org/licenses/gpl-3.0.en.html"
          >(licencováno pod GPL 3).
        </a>
        <a href="https://github.com/web-mesh/web.mesh.sk"
          >Zdrojový kód je přístupný zde.
        </a>
      </p>
    </div>
  </span>
</footer>

<style>
  a {
    @apply hover:underline text-zinc-300;
  }
</style>
