---
  import {Language} from "../types"

  const {tagline} = Astro.props as Language["header"]
---

<header class="flex items-left justify-center h-max my-72" data-aos="fade-up">
  <div class="w-full">
    <span class="text-8xl text-black font-serif font-bold flex justify-left text-left">
      Web Mesh
    </span>
    <span class="text-zinc-600 flex mt-8 justify-left">
      Grafická & webová agentura z Loun
    </span>
  </div>
</header>
