---
const { title, icon } = Astro.props;
---

<style>
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
  }
</style>

<span
  id="item"
  class="h-full bg-gray-100 rounded-md bg-clip-padding backdrop-filter
backdrop-blur-md bg-opacity-10 text-white
shadow-lg hover:shadow-xl hover:-translate-y-2 hover:z-50 duration-300 p-4 item"
>
  <span class="material-symbols-outlined text-8xl flex justify-center">
    {icon}
  </span>
  <h2 class="text-4xl flex justify-center font-display mb-6">{title}</h2>
  <slot></slot>
</span>

<style>
  #item {
    border: 1px solid rgba(255, 255, 255, 0.25);
  }
</style>
