---
import SectionHeading from "./SectionHeading.astro";
import Item from "./Item.astro";
---

<style>
  a {
    @apply hover:underline text-zinc-300;
  }
</style>

<section class="section lg:p-32 p-4" id="about">
  <SectionHeading>Co nabízíme</SectionHeading>
  <div class="grid xl:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-8 gap-4">
    <Item title="Webové stránky" icon="language"
      >Webové stránky jsou naše specialita. Tvorbě webových stránek se věnujeme
      už řadu let. A za tu dobu jsme se toho dost naučili. K tvorbě vždy
      využíváme nejmodernější technologie.
    </Item>
    <Item title="Online Marketing" icon="add_business"
      >Online presence je v dnešní době pro firmy důležitá pokud si chce najít
      zákazníky. A proto využíváme služby jako Google My Bussines <a
        href="/google_certifikat/"
        >(na který jsme certifikovaní)
      </a> a Firmy.cz
    </Item>
    <Item title="E-shopy" icon="storefront"
      >E-shopy jsou výborný způsob, jak rozšířit vaší firmu. E-shopy vytváříme
      na míru, v <a href="https://shopify.com">Shopify</a>, ale nabízíme také
      úpravu, již existujících. A dále nabízíme i jednodušší e-shopy s minimální
      cenou na provoz.
    </Item>
    <Item title="Zabezpečení stránky a správa domény" icon="lock"
      >Nevíte si rady s nastavením vaší domény? Rádi vám pomůžeme a navíc vám i
      stránku zabezpečíme, jelikož zabezpečená stránka je v dnešní době
      nutností.
    </Item>
    <Item title="SEO Optimalizace" icon="query_stats"
      >SEO je základem každé dobré stránky. A dokáže pomoct vaší firmě ve
      zviditelnění. SEO už se nějakou dobu věnujeme a dokonce jsme vytvořili <a
        href="https://www.npmjs.com/package/astro-og-image"
        >nástroj pro SEO optimalizaci
      </a>, který už využívá přes 200 lidí.
    </Item>
    
    <Item title="Upravitelné stránky" icon="edit_note"
      >Pokud se obsah vašich stránek mění, ať už je to zboží na skladě, či nové
      akce, umíme vaše stránky udělat zcela upravitelné, s minimální cenou na
      provoz.
    </Item>
    <Item title="Grafika" icon="design_services"
      >Pomůžeme vám vytvořit novou grafiku, ať logo, plakát, či jidélniček.
      Umíme jak grafiku rastrovou, tak vektorovu.
    </Item>
    <Item title="Komplexní aplikace" icon="apps"
      >Mimo jiné také umíme vytvářet komplexní webové i mobilní aplikace pro
      interní použití, jako software pro management skladů nebo menší sociální
      sítě.
    </Item>
  </div>
</section>
