---
interface Props {
    image?: string
    alt?: string,
    heading?:string,
    description?: string,
    link?: string,
    shortlink?: string,
    color?: string
  }


  const { image,alt, heading, description, link, shortlink, color } :Props = Astro.props


---
<section class="section" style={"background-color:"+color}>
    <slot/>
</section>

<style>
    .section{
        position: relative;
        width: 100%;
        height:100%;
        scroll-snap-align: center;
       
    }

</style>