---
interface Props {
    image?: string
    alt?: string,
    heading?:string,
    description?: string,
    link?: string,
    shortlink?: string,
    color?: string,
    color2?: string,
    id?:string
  }


  const { image,alt, heading, description, link, shortlink, color,color2,id } :Props = Astro.props


---
<section id={id} class="sectio" style={color2?"background-image:linear-gradient(135deg,"+color+","+color2+");":"background-color:"+color}>
    <slot/>
</section>

<style>
    .sectio{
        position: relative;
        width: 100vw;
        height:100vh;
       /*  scroll-snap-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
    }


</style>