---
import SectionHeading from "./SectionHeading.astro";
import TeamMember from "./TeamMember.astro";
---

<section
  class="section xl:!grid flex items-center justify-center lg:p-32 p-4"
  id="team"
>
  <SectionHeading>O nás</SectionHeading>
  <div class="grid xl:grid-cols-3 grid-cols-1 gap-8 place-items-center ">
    <TeamMember name="Tomáš" image="/assets/tomaskebrle.png">
      Studuje Gymnázium v Lounech. Designem webů a grafikou se zabývá už 5 let.
      Mimo programování rád skautuje. Je držitelem <a
        href="/dofe_tom/"
        class="text-zinc-300 hover:text-white duration-200"
      >
        mezinárodní bronzové ceny vévody z Edinburghu.
      </a>.
    </TeamMember>

    <TeamMember name="Daniel" image="/assets/dan.jpg">
      Studuje na Gymnáziu v Lounech. V programování se pohybuje 4 roky a na weby
      se specializuje 2 roky. Ve volném čase rád sportuje. Je zaslouženým
      držitelem
      <a href="/dofe_dan/" class="text-zinc-300 hover:text-white duration-200">
        mezinárodní bronzové ceny DofE.
      </a>
    </TeamMember>

    <TeamMember name="Vašek" image="/assets/vasek.jpg">
      Studuje Gymnázium v Lounech. O programování se zajímá 3 roky. Mimo to se
      zabívá sportovní střelbou, 3D tiskem a technologiemi celkově.
    </TeamMember>
  </div>
</section>
